.austinPowersBody {
    background-image: url("flowers.jpg");
}

.cocktailsBody {
    background-image: url("martini-glass.jpg");
}

.centerButton {
    font-weight: bold;
    margin-top: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;

}

.highScoresDiv {
    float: left;
    width: 90%;
    overflow-x: auto;
    margin-left: 2%;
}

.timeLeftDiv {
    float: right;
    text-align: right;
    width: 10%;
    font-size: medium;
    font-weight: bold;
    margin-right: 2%;
}

.questions {
    text-align: center;
}

.scoresResults{
    padding: 3px 3px 3px 3px;
    width: 25%;
}
